.Tilt {
    background: #54B163;
    background: -webkit-linear-gradient(top left, #54B163, #FF9855);
    background: -moz-linear-gradient(top left, #54B163, #FF9855);
    background: linear-gradient(to bottom right, #54B163, #FF9855);  
    
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  
}

.Tilt:hover{
    scale:1.1;
}

.logo {
    width: 80%;
    
    margin:0;
   
    
    
}

@media screen and (min-width: 900px){

    .Tilt{
        margin-left: 50px;
        width: 75px;
        height:75px;
        margin-bottom: -40px;
       
    }
}