.display-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text{
    text-align: center;
    padding: .1rem;
    padding-top: 1rem;
}

@media screen and (max-width: 350px) {
    .text, .text > *{
        font-size: .9rem;
    }
}