body {
  margin: 0;
  padding: 0;
  font-family: "Courier New", Courier,monospace;
  
    /* Created with https://www.css-gradient.com */
background: linear-gradient(to right, #54B163, #FF9855);
}

button {
  cursor: pointer;
}

#root, html, body {
  height:100%;
}